<section id="Nosotros">
    <h3 class="titleBal">Sobre nosotros</h3>
    <div class="contCards">
      <div class="cardAbout">
        <img src="" alt="">
        <div class="Mision">
            <h3 class="titleCards">Misión</h3>
            <img src="/assets/mision.jpg" alt="">
            <p class="txtCards">La misión de Fundación Axio es promover el desarrollo integral de individuos 
                y organizaciones a través de programas de certificación, diagnósticos y formación 
                en valores, fomentando una cultura de ética y responsabilidad social.</p>
        </div>
      </div>
      <div class="cardAbout">
        <img src="" alt="">
        <div class="Vision">
            <h3 class="titleCards">Visión</h3>
            <img src="/assets/vision.jpg" alt="">
            <p class="txtCards">La visión de Fundación Axio es ser una entidad líder en la promoción de valores 
                y ética, reconocida por su impacto positivo en la sociedad y su contribución al 
                bienestar y crecimiento sostenible de comunidades y organizaciones.</p>
        </div>
      </div>
    </div>
</section>