<main>
  <section id="Inicio">
    <h1>Fundación axio</h1>
    <h2>Transformando sociedades a través de los valores</h2>
    <div class="contButons">
      <div class="conoce">
          <img src="/assets/conoce.jpg" alt="">
          <button class="btnInicio" onclick="location.href='https://www.facebook.com/axiomexico'">Conoce más</button>
      </div>
      <div class="unete">
          <img src="" alt="">
          <button class="btnInicio" onclick="location.href='https://gestion-escolar-valores.fundacionaxio.org/ingresar'">Únete a nosotros</button>
      </div>
    </div>
  </section>

    <section id="Nosotros">
      <h3 class="titleBal">Sobre nosotros</h3>
      <div class="contCards">
        <div class="cardAbout">
          <img src="" alt="">
          <div class="Mision">
              <h3 class="titleCards">Misión</h3>
              <p class="txtCards">La misión de Fundación Axio es promover el desarrollo integral de individuos 
                  y organizaciones a través de programas de certificación, diagnósticos y formación 
                  en valores, fomentando una cultura de ética y responsabilidad social.</p>
          </div>
        </div>
        <div class="cardAbout">
          <img src="" alt="">
          <div class="Vision">
              <h3 class="titleCards">Visión</h3>
              <p class="txtCards">La visión de Fundación Axio es ser una entidad líder en la promoción de valores 
                  y ética, reconocida por su impacto positivo en la sociedad y su contribución al 
                  bienestar y crecimiento sostenible de comunidades y organizaciones.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="Programas">
      <h3 class="titleBal">Programas y servicios</h3>

      <div class="containerCards">
        <div class="cardProgram">
          <img src="" alt="">
          <h4>Certificaciones en Ética y<br> Valores</h4>
          <p>Descripción: Participa en nuestros programas de certificación y demuestra tu 
            compromiso con los principios éticos y la responsabilidad social.</p>
            <ul>
              <li><p>Objetivo: Fortalecer el compromiso ético.</p></li>
              <li><p>Beneficios: Certificados reconocidos, mejora de la reputación.</p></li>
            </ul>
        </div>
        <div class="cardProgram">
          <img src="" alt="">
          <h4> Diagnósticos Organizacionales</h4>
          <p>Diagnósticos OrganizacionalesDescripción: Evalúa la cultura ética de tu organización 
            con nuestros servicios de diagnóstico y recibe recomendaciones prácticas para la mejora.</p>
            <ul>
              <li><p>Objetivo: Identificar áreas de mejora.</p></li>
              <li><p>Beneficios: Análisis detallados, informes personalizados.</p></li>
            </ul>
        </div>
        <div class="cardProgram">
          <img src="" alt="">
          <h4>Talleres y Cursos de Formación en Valores</h4>
          <p>Descripción: Participa en nuestros talleres y cursos diseñados 
            para promover el desarrollo integral y la adopción de principios éticos sólidos.</p>
            <ul>
              <li><p>Objetivo: Promover el desarrollo integral.</p></li>
              <li><p>Beneficios: Contenido interactivo, instructores especializados.</p></li>
            </ul>
        </div>
        <div class="cardProgram">
          <img src="" alt="">
          <h4>Iniciativas Educativas</h4>
          <p>Descripción: Colaboramos con escuelas y universidades 
            para integrar la educación en valores en los planes de estudio.</p>
            <ul>
              <li><p>Objetivo: Integrar la educación en valores.</p></li>
              <li><p>Beneficios: Programas adaptados a diferentes niveles educativos.</p></li>
            </ul>
        </div>
      </div>
      
      <div class="info">
        <h4 class="titleBal">App móvil Axio</h4>
        <div class="infoApp">
          <img src="" alt="">
          <p>¡Descubre la app oficial de la Fundación Axio! 
              Promovemos el desarrollo integral a través de certificaciones, diagnósticos y formación en valores. 
              Únete a nuestra comunidad y fortalece tu compromiso con la ética y la responsabilidad social.</p>
        </div>
        
        <h4 class="titleBal">Únete a Nuestra Comunidad</h4>
        <div class="infoCom">
          <p>Con la app de Fundación Axio, tienes acceso a una plataforma integral que te apoya en tu camino hacia 
              el crecimiento personal y profesional. Ya sea que busques certificarte, mejorar tu organización o aprender 
              más sobre la ética y los valores, nuestra app está aquí para ayudarte.
              <br>Descarga la app de Fundación Axio hoy y comienza tu viaje hacia una cultura de ética y responsabilidad social.</p>
        </div>
        <button class="btnApp" onclick="location.href='https://play.google.com/store/apps/details?id=com.iwebsapp.axioparents&hl=es_MX'">App AXIO</button>
      </div>
    </section>

    <section id="Certificaciones">
      <h3 class="titleBal">Testimonios</h3>
      <label for="testimonio">CTA: ¿Quieres compartir tu experiencia?</label>
      <form id="frmTestimonio">
        <div class="frmRow">
          <h4>Envía tu <br>testimonio:</h4>      
          <!--<label for="rating">Calificación:</label>-->
          <input type="number" id="rating" name="rating" min="1" max="5" required>
        </div>
      
        <div class="txtContainer">
          <textarea id="testimonio" class="txtTestimonio" placeholder="Comparte detalles de tu experiencia"></textarea>
        </div>

        <div class="rowButton">
          <button type="submit" class="btnEnviar">Enviar testimonio</button>
        </div>
      </form>
    </section>

    <section id="Contacto">
        <h3 class="titleBal">Contacto</h3>
        <p class="infoContact">771 148 6170</p>
        <a href="https://fundacionaxio.org " class="infoContact">https://fundacionaxio.org </a>
        <p class="infoContact">fundacionaxiomexico&commat;gmail.com</p>
        <p class="infoBal">Soporte técnico axio.valores&commat;gmail.com</p>
        <p class="infoBal">56 2850 2551</p>
    </section> 
</main>