<section id="Certificaciones">
    <h3 class="titleBal">Testimonios</h3>
    <div class="testimContainer">
      <label for="testimonio" class="lblTestimonios">Testimonios de Beneficiarios</label>
    </div>
    <form id="frmTestimonio">
      <label for="testimonio" class="lblTestimonios">CTA: ¿Quieres compartir tu experiencia?</label>
      <div class="frmRow">
        <h4>Envía tu <br>testimonio:</h4>      
        <input type="number" id="rating" name="rating" min="1" max="5" required>
      </div>
    
      <div class="txtContainer">
        <textarea id="testimonio" class="txtTestimonio" placeholder="Comparte detalles de tu experiencia"></textarea>
      </div>

      <div class="rowButton">
        <button type="submit" class="btnEnviar">Enviar testimonio</button>
      </div>
    </form>
</section>