<section id="Certificaciones">
    <h3 class="titleBal">Testimonios</h3>
    <label for="testimonio">CTA: ¿Quieres compartir tu experiencia?</label>
    <form id="frmTestimonio">
      <div class="frmRow">
        <h4>Envía tu <br>testimonio:</h4>      
        <!--<label for="rating">Calificación:</label>-->
        <input type="number" id="rating" name="rating" min="1" max="5" required>
      </div>
    
      <div class="txtContainer">
        <textarea id="testimonio" class="txtTestimonio" placeholder="Comparte detalles de tu experiencia"></textarea>
      </div>

      <div class="rowButton">
        <button type="submit" class="btnEnviar">Enviar testimonio</button>
      </div>
    </form>
</section>