<section id="Certificaciones">
  <h3 class="titleBal">Testimonios</h3>
  <label for="testimonio">Testimonios de Beneficiarios</label>
  <div class="featured-testimonial">
    <p>Descrubre como nuestros programas han impactado pasitivamente a individuos y organizaciones</p>
    <p>Testimonio Destacado</p>
    <div class="testimonial-image">
      <img src="/assets/iconoH.jpg" alt="Juan Pérez, Director de RH">
    </div>
    <div class="testimonial-content">
      <p>Nombre y Cargo: Juan Pérez, Director de RH</p>
      <p>Cita o Reseña:"La certificación en valores ha transformado nuestra cultura organizacional, mejorando la ética y
        la
        responsabilidad social."</p>
    </div>
  </div>
  <p>Lista de Testimonios</p>
  <p>Tarjeta de Testimonios: </p>
  <div class="testimonial-image">
    <img src="/assets/iconoM.jpg" alt="Ana Gómez, Estudiante">
  </div>
  <ul class="testimonials-list">
    <li class="testimonial-card">
      <p>Nombre y Cargo: Ana Gómez, Estudiante</p>
    </li>
    <li class="testimonial-card">
      <p>Cita o Reseña:"Los talleres de Formación en valores me han ayudado a desarrollarme personal y
        profesionalmente."</p>
    </li>  
  </ul>
  <label for="testimonio">CTA: ¿Quieres compartir tu experiencia?</label>
  <form id="frmTestimonio">
    <div class="frmRow">
      <h4>Envía tu <br>testimonio:</h4>
      <!--<label for="rating">Calificación:</label>-->
      <!-- <input type="number" id="rating" name="rating" min="1" max="5" required> -->
    </div>

    <div class="txtContainer">
      <textarea id="testimonio" class="txtTestimonio" placeholder="Comparte detalles de tu experiencia"></textarea>
    </div>

    <div class="rowButton">
      <button type="submit" class="btnEnviar">Enviar testimonio</button>
    </div>
  </form>
</section>