<section id="Inicio">
    <h1>Fundación axio</h1>
    <h2>Transformando sociedades a través de los valores</h2>
    <div class="contButons">
      <div class="conoce">
          <img src="/assets/conoce.jpg" alt="">
          <button class="btnInicio" onclick="location.href='https://www.facebook.com/axiomexico'">Conoce más</button>
      </div>
      <div class="conoce">
          <img src="/assets/unete.jpg" alt="">
          <button class="btnInicio" onclick="location.href='https://gestion-escolar-valores.fundacionaxio.org/ingresar'">Únete a nosotros</button>
      </div>
    </div>
  </section>